////
/// Post
////

@use "../config/typography" as t;
@use "../tool/utilities";

.post {
  padding-bottom: t.$base-line;
  figure {
    text-align: center;
  }
  img {
    margin: 0.5em auto 1.5em;
  }
}

.posts-archive {
  @include utilities.list-inline();
  > li {
    &:not(:last-child):after {
      content: ' - ';
    }
 }
}
