<head itemscope itemtype="https://schema.org/WebSite">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="uPPciVUqenzhQ1o5i2SszHea-MmnN9OiC8ZNtZxbW3E" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#495057">
  <link rel="manifest" href="/manifest.json">
  <link rel="canonical" href="https://puppy.codes"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} RSS Feed" href="{{ "/feed/" | absolute_url }}"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <title>{% if page.title %}{{ page.title }}{% else %}puppycodes{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">



  {% include favicons.html %}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">


</head>
