@font-face {
	font-family: 'Bagnard-Sans';
	src: url('../fonts/Bagnard.eot');
	src: url('../fonts/Bagnard.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bagnard.woff2') format('woff2'),
		url('../fonts/Bagnard.woff') format('woff'),
		url('../fonts/Bagnard.ttf') format('truetype'),
		url('../fonts/Bagnard.svg#Bagnard') format('svg');
	font-weight: normal;
	font-style: normal;
}
