@font-face {
	font-family: 'Bagnard';
	src: url('/assets/fonts/Bagnard.eot');
	src: url('/assets/fonts/Bagnard.eot?#iefix') format('embedded-opentype'),
	src: url('/assets/fonts/Bagnard.woff2') format('woff2'),
	src:	url('/assets/fonts/Bagnard.woff') format('woff'),
	src:	url('/assets/fonts/Bagnard.ttf') format('truetype'),
	src:	url('/assets/fonts/Bagnard.svg#Bagnard') format('svg');
	font-weight: normal;
	font-style: normal;
}
