<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <main id="main">
      {{ content }}
    </main>
    <script src={{ "/assets/js/instantclick.min.js" | relative_url }}  data-no-instant></script>
    <script data-no-instant>
      InstantClick.init();
    </script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101091621); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101091621ns.gif" /></p></noscript>
  </body>
</html>
